* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #181818;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 150%;
}

.container {
    width: 1296px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    padding-top: 40px;
    width: 1760px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.top {
    background-image: url(../img/main-screen__bgc.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 960px;
}

.auth {
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    border-color: none;
    margin-left: auto;
    cursor: pointer;
}

.menu {
    display: flex;
    margin-left: 522px;
    list-style: none;
}

.menu__list {
    margin-right: 56px;
    font-size: 16px;
    line-height: 150%;
    outline: none;
    text-decoration: none;
    color: #FFFFFF;
}

.menu__list:last-of-type {
    margin-right: 0;
}

.heading {
    margin-top: 198px;
}

.topic {
    margin-top: 198px;
    font-weight: bold;
    font-size: 64px;
    line-height: 140%;
    width: 900px;
}

.time {
    margin-top: 50px;
    display: flex;
}

.cards {
    text-align: center;
    margin-right: 30px;
    padding: 20px 30px;
    background: #121212;
}

.cards:hover {
    background: #383838;
    transition: all 0.3s;
}

.cards:last-of-type {
    margin-right: 0;
}

.date-top {
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;
}

.date-down {
    font-size: 16px;
    line-height: 140%;
    opacity: 0.4;
}

.course-bg {
    background: #121212;
    margin-top: 218px;
    padding: 35px 0 28px;
}

.course {
    display: flex;
    align-items: center;
}

.course__btn {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    cursor: pointer;
}

.course__people {
    margin-left: 81px;
}

.people__text {
    width: 193px;
    opacity: 0.4;
}

.people__sum {
    margin-left: 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
}

.people__top {
    display: flex;
}

.people__down {
    margin-top: 10px;
    display: flex;
}

.course__money {
    margin-left: 81px;
}

.money__top {
    display: flex;
}

.money__text {
    width: 193px;
    opacity: 0.4;
}

.money__sum {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
}

.analytics {
    display: flex;
    margin-top: 8px;
}

.analytics__full {
    width: 430px;
    height: 6px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.analytics__empty {
    background: #FFFFFF;
    width: 274px;
    height: 6px;
}

.money__min-max {
    display: flex;
    margin-top: 5px;
}

.money__min {
    opacity: 0.4;
}

.money__max {
    opacity: 0.4;
    float: right;
    margin-left: auto;
}


.about{
    margin-top: 200px;
    display: flex;
}
.title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    color: #FFFFFF;
}
.text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
}

.about__content{
    margin-left: 139px;
    margin-top: 70px;
}
.about__text{
    margin-top: 45px;
}

.start__content{
    display: flex;
    align-items: center;
}
.start{
    margin-top: 200px;
}
.ellipse{
    transform: rotate(-135deg);
}
.start__title{
    margin-left: 20px;
}
.start__subtitle{
    margin-top: 50px;
    opacity: 0.5;
    width: 410px;
}

.graph{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.graph__percents{
    font-size: 36px;
    line-height: 140%;
}
.graphic{
    width: 324px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.graph__one{
    height: 80px;
    margin-top: 20px;
    margin-bottom: 35px;
}
.graph__two{
    height: 60px;
    margin-top: 30px;
    margin-bottom: 45px;
}
.graph__three{
    height: 30px;
    margin-top: 45px;
    margin-bottom: 60px;
}
.graph__four{
    height: 10px;
    margin-top: 55px;
    margin-bottom: 70px;
}
.graph__text{
    opacity: 0.5;
}